.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* scroll effect properties */
    transform: translateY(100px);
    opacity: 0;
    transition: 850ms;
  }
  
  .row.show {
    transform: translateX(0);
    opacity: 1;
  }